*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.error-text{
    color: white;
    font-size: 50px;
}
main > img{
    width: 400px;
}
#return-link{
    text-decoration: none;
    color: white;
    background-color: #2a357e;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px -10px white;
    transform: scale(1.03) perspective(200px);
    transition: all 0.5s ease;
}
#return-link:hover{
    transform: scale(1.1) perspective(2500px) rotateY(5deg);
}